header {
    /*padding: 20px 0;*/
    margin-bottom: 50px;
}

.gauges {
    text-align: center;
}

.gauges h3 {
    margin-top: 40px;
    text-align: center;
}

.gauge {
    height: 25vh;
    text-align: center;
}

.gauges label {
    display: block;
    text-align: center;
    margin-top: -100px;
    font-size: 30px;
}

.content-description img {
    max-width:100%;
}

footer {
    margin-top: 100px;
}